.choose{
    position: relative;
    z-index: 2;
}
.choose-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.choose-card{
    z-index: 4;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: #86868638 !important;
    color: #fff;

}
.choose-card [class*="bi-"]{
    font-size: 3rem;
    color: var(--primary-green);
}