.feature-card{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    min-height: 330px;
    margin-bottom: 20px;
    text-align: center;
}
.feature-card [class*="bi-"]{
    font-size: 4rem;
    color: var(--primary-green);
}