.Local-hero{
    min-height: 100vh;
    background:linear-gradient(45deg,#000000, #00ffa638 ), url(https://img.freepik.com/free-photo/selective-focus-shot-yellow-taxi-sign-traffic-jam_181624-42635.jpg?w=740&t=st=1700310353~exp=1700310953~hmac=c6d343602af9d8064db3501873c3c2d36466ca483a4adeafc286c85d979a7fb2) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.efficient-card{
    min-height: 450px;
}