:root {
  --primary-color: #FFA633;
  --primary-color-rgb: rgba(120, 202, 92);
  --secondary-color: #17951000;
  --secondary-color-rgb: rgba(23, 149, 16);
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@600&family=Libre+Barcode+39+Extended+Text&family=Libre+Franklin&family=Noto+Sans:wght@300&family=Nunito:wght@500&family=Poppins:wght@400;500;800&family=Press+Start+2P&family=Rubik:wght@500&family=Tilt+Prism&family=Wallpoet&family=Work+Sans:wght@300&display=swap');

*{
  font-family: 'Arimo', serif;
}
.primary-bg{
  background: var(--primary-color) !important;
}
.secondary-bg{
  background-color: var(--secondary-color) !important;
}
.text-main{
  color: var(--primary-color);
}
.text-800{
  font-weight: 800;
}
.text-900{
  font-weight: 900 !important;
}
.main-btn{
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 5px;
  background-color: var(--primary-color);
  min-width: 150px;
  font-weight: 500;
}
.btn-outline{
  border: none;
  border: 2px solid #1a1919;
  padding: 10px;
  font-size: 1.2rem;
  color: #1a1919;
  border-radius: 5px;
  background-color: transparent;
  min-width: 150px;
  font-weight: 500;
}
.heading{
  font-size: 3rem;
}
.banner-heading{
  font-size: 2rem;
  font-weight: 600;
  color: #031B4E;
  text-align: center;
  width: 100%;
  padding: 20px;
}
.subtitle{
  font-size: 1.1rem;
  color: #373737;
}
.nav-text{
  font-size: 1.3rem;
}
.card-heading{
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
}
.anim-img{
animation: img-anim 1s linear infinite alternate;
}
@keyframes img-anim{
  from{
    transform: translateX(-20px) translateY(10px);
  }
  to{
    transform: translateX(20px) translateY(-10px);
  }
}
@media (max-width:600px){
  .heading{
    font-size: 2rem;
  }
  .banner-heading{
    font-size: 1.5rem;

  }
  .hero-btn{
    min-width: 100%;
    margin-bottom: 10px;
  }
  .subtitle{
    font-size: 1rem;
  }
}